._2Nt60bozBhLm4MJ7-Uml9R {
	font-family: Vazir, Tahoma, Serif, sans-serif;
	border: 0 !important;;
}

._2Nt60bozBhLm4MJ7-Uml9R ._1u8Ymm6dfTneTUifGRca6q table tbody tr td {
	margin-bottom: 2px;
}

._2Nt60bozBhLm4MJ7-Uml9R ._1u8Ymm6dfTneTUifGRca6q .BSgloy8E0JKBPRuztPOYl ._2cuOdfZsLrFMahkfb9gso9 {
	font-weight: bold;
}

._2Nt60bozBhLm4MJ7-Uml9R ._1u8Ymm6dfTneTUifGRca6q table thead th {
	color: #9F9F9F;
	font-weight: bold;
	font-size: 1em;
}

._2Nt60bozBhLm4MJ7-Uml9R ._1u8Ymm6dfTneTUifGRca6q table tbody tr td._2CQ5vWlIzMzWrunFH0Ghn9 {
	background-color: #e5e1ff;
	color: #5A44FF;
}

._2Nt60bozBhLm4MJ7-Uml9R ._1u8Ymm6dfTneTUifGRca6q table tbody tr td._1PHXZRv9_4KmFMrk8q46oq {

	background: #528BE5;
	color: #fff;
}


